body{
    background-image: url(bg\ 3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main{
    width: 400px;
    height: 70px;
    float: left;
}

ul{
    float: left;
    display: flex;
    justify-content:center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a{
    text-decoration: solid;
    color:black;
    font-family: 'Lucida Sans';
    font-weight: bold;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul li a :hover{
    color:rgb(28, 12, 213);
}